<!-- Card Header - Dropdown -->
<div>
  <div>
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class=" m-0 font-weight-bold text-primary">Últimas Interações</h6>
    </div>

    <!-- Card Body -->
    <div class="card-body">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-success shadow h-100">
          <div class="card-body">
            <div
              class="d-flex no-gutters align-items-center justify-content-evenly d-sm-flex flex-wrap justify-content-center"
            >
              <div style="position: relative; top: 0px; left: 0px">
                <i
                  class="bi bi-calendar"
                  style="font-size: 3rem; color: cornflowerblue"
                ></i>
                <div style="position: absolute; top: 35px; left: 15px">
                  <p style="font-weight: 700; color: cornflowerblue">19</p>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=35"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span
                    class="badge rounded-pill"
                    style="background-color: #1cc88a">Missionário</span
                  >
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Anna Lima
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >17/01 09h:30m ·
                    <i class="bi bi-chat" style="color: #1cc88a"></i
                  ></span>
                </div>
              </div>

              <i
                class="bi bi-arrow-left-right mx-5"
                style="font-size: 2rem; color: cornflowerblue"
              ></i>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=36"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #4e73df">Voluntário</span>
                  <div class="text-truncate" style="margin-bottom: -10px;">
                    Maria Lúcia
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >09h:30m ·
                    <i class="bi bi-check2-circle" style="color: #1cc88a"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- cards exmplo  -->

    <div class="card-body" style="margin-top: -20px">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-success shadow h-100">
          <div class="card-body">
            <div
              class="d-flex no-gutters align-items-center justify-content-evenly d-sm-flex flex-wrap justify-content-center"
            >
              <div style="position: relative; top: 0px; left: 0px">
                <i
                  class="bi bi-calendar"
                  style="font-size: 3rem; color: cornflowerblue"
                ></i>
                <div style="position: absolute; top: 35px; left: 15px">
                  <p style="font-weight: 700; color: cornflowerblue">21</p>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=37"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #1cc88a">Missionário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Patricia Cavine
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >20/01 | 13h:00m ·
                    <i class="bi bi-chat" style="color: #1cc88a"></i
                  ></span>
                </div>
              </div>

              <i
                class="bi bi-arrow-left-right mx-5"
                style="font-size: 2rem; color: cornflowerblue"
              ></i>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=38"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #4e73df"> Voluntário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Luciana Party
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >12h:30m · <i class="bi bi-x-circle" style="color: red"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body" style="margin-top: -20px">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-success shadow h-100">
          <div class="card-body">
            <div
              class="d-flex no-gutters align-items-center justify-content-evenly d-sm-flex flex-wrap justify-content-center"
            >
              <div style="position: relative; top: 0px; left: 0px">
                <i
                  class="bi bi-calendar"
                  style="font-size: 3rem; color: cornflowerblue"
                ></i>
                <div style="position: absolute; top: 35px; left: 15px">
                  <p style="font-weight: 700; color: cornflowerblue">21</p>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=17"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #1cc88a">Missionário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Mario Cavine
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >20/01 | 13h:00m ·
                    <i class="bi bi-chat" style="color: #1cc88a"></i
                  ></span>
                </div>
              </div>

              <i
                class="bi bi-arrow-left-right mx-5"
                style="font-size: 2rem; color: cornflowerblue"
              ></i>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=18"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #4e73df"> Voluntário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Mario Lúcio
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >12h:30m · <i class="bi bi-x-circle" style="color: red"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" style="margin-top: -20px">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-success shadow h-100">
          <div class="card-body">
            <div
              class="d-flex no-gutters align-items-center justify-content-evenly d-sm-flex flex-wrap justify-content-center"
            >
              <div style="position: relative; top: 0px; left: 0px">
                <i
                  class="bi bi-calendar"
                  style="font-size: 3rem; color: cornflowerblue"
                ></i>
                <div style="position: absolute; top: 35px; left: 15px">
                  <p style="font-weight: 700; color: cornflowerblue">21</p>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=20"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #1cc88a">Missionário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Letícia Olávo
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >20/01 | 13h:00m ·
                    <i class="bi bi-chat" style="color: #1cc88a"></i
                  ></span>
                </div>
              </div>

              <i
                class="bi bi-arrow-left-right mx-5"
                style="font-size: 2rem; color: cornflowerblue"
              ></i>

              <div class="d-flex align-items-center">
                <div class="dropdown-list-image ml-5">
                  <img
                    class="rounded-circle"
                    src="https://i.pravatar.cc/100?img=21"
                    style="width: 50px"
                    alt=""
                  />
                </div>
                <div class="mx-2">
                  <span class="badge rounded-pill" style="background-color: #4e73df"> Voluntário</span>
                  <div class="text-truncate" style="margin-bottom: -10px">
                    Marineide Paseoli
                  </div>
                  <span style="font-size: 12px; margin-top: -50px; color: grey"
                    >12h:30m · <i class="bi bi-x-circle" style="color: red"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
