input,
select, textarea {
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
}

fieldset {
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

fieldset:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.fieldsetIF:active::before {
  transition: 1s;
}

/* Style para alerts */
.success {
  background-color: #529214;
  background-image: url(./../../assets/alertsicons/check.svg);
}
.danger {
  background-color: #c73924;
  background-image: url(./../../assets/alertsicons/remove.svg);
}
.information {
  background-color: #0498c2;
}
.warning {
  background-color: yellow;
}
.borderAlert {
  width: 20%;
  min-height: 10vh;
  background-size: 10px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  border-radius: 3px 0 0 3px;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  max-width: 400px;
  margin: 0;
  padding: 0;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 999;
  border: none;
}
.alert:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.alert p {
  padding: 5px;
  color: #3b3b3b;
  font-size: 12px;
}

.closebtn {
  margin-top: 5px;
  padding-top: 0px;
  margin-right: 5px;
  color: #dadadb;
  align-self: flex-start;
  outline: none;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;

  border: none;
  background-color: transparent;
}

.closebtn:hover {
  color: #3b3b3b;
}
.text-formInvalid {
  color: #ffffff;
  background-color: #DF4957;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  font-size: smaller;
  text-overflow: ellipsis;
  position: relative;
  display:inline !important;
  margin-bottom: 1px;
}

.labelTypeFile{
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom:-15px ;
  color: #198754;
  margin-left: 10px;
  margin-top: 5px;

}

.inputImg {
  position: relative;
  overflow: hidden;

  border: #ced4da 1px solid;
  border-radius: 4px;
  padding: 4px 0 4px 7px;
}

[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
[type="file"]:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

[type="file"]::before {
  content: "Adicione uma foto";
  display: inline-block;
  background-image: url(./../../assets/001-upload.svg);
  background-size: 15px;
  background-attachment: local;
  background-position-x: 135px;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 3px;
  padding: 10px 8px;
  padding-right: 40px;
  margin: 3px 0px;
  color: #3b3b3b;
  margin-right: -105px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 480;
  font-size: 10pt;
}

[type="file"]:hover::before {
  border-color: #157347;
  background-size: 10px;
  transition: 0.3s;
  color: #157347;
  font-size: smaller;
  background-position-x: 135px;
}

[type="file"]:hover::before {
  color: #157347;
  background-size: 18px;
  transition: 0.5s;
}

@media (max-width: 987px) {
  .fieldInvalidSexo {
    margin-top: 25px;
    min-width: 200px;
  }
  
  .radioSexo {
    margin-top: 10px;
    display: flex;
  }
  
  .radioSexo div {
    margin-left: 30px;
  }
  
  /* .imgFilePrincipal {
    display: grid;
    grid-column: 12fr;
  } */
  .heightInput{
    height: 100px;
    padding-bottom: -10px;
  }
  fieldset{
    padding: 5px;
  }
  
}
@media only screen and (max-width: 991px) {
  input,
  select {
    margin: 5px 5px;
  }

  [type="checkbox"] {
    margin: 0px 0px !important;
  }
  .radioSexo {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .radioSexo div {
    grid-column: 2;
    min-width: 100px;
  }
  .labelText {
    height: 50px;
    margin-top: -5px;
    font-size: small;
    text-overflow: ellipsis !important;
  }

}