<div class="container">
  <form class="row form-inline mt-4">
    <input
      class="form-control mr-sm-2"
      #termoDaPesquisa
      type="search"
      placeholder="Pesquisar"
      (keyup)="pesquisa(termoDaPesquisa.value)"
    />
  </form>
  <hr />
  <div class="flex-container">
    <!-- <div *ngFor=" let item of volunteers$ |async" >
      <div class="card" style="width: 18rem;" >
         <ik-image [src]="item.urlsImage.urlImgPrincipal" [transformation]="transformationImg" ></ik-image>


        <div class="card-body" >
          <hr>

          <h4 class="card-title">{{item.nome}}</h4>
         <h5 class="card-title">{{item.profissao}}</h5>
          <h5 class="card-title">{{item.dataNascimento | dataIdade}} </h5>
          <a [routerLink]="['/sideBar/voluntary',item._id] " class="btn btn-success" >Detalhes</a>
        </div>
      </div>

    </div> -->
    <div class="list-group col" *ngFor="let item of volunteers$ | async">
      <a class="list-group-item list-group-item-action d-flex" aria-current="true" [routerLink]="['/sideBar/voluntary',item._id] ">
        <div class="divImgPrincipal">
          <ik-image class="imgPrincipal"
            [src]="item.urlsImage.urlImgPrincipal"
            [transformation]="transformationImg2"
          ></ik-image>
        </div>
        <div class="col">
          <div class="d-flex w-100 justify-content-between ">
            <h5 class="mb-1">{{item.nome}}</h5>
            <small>{{item.dataCad}}</small>
          </div>
          <p class="mb-1">{{item.profissao}}</p>
          <small>{{item.dataNascimento | dataIdade}}</small>
        </div>
      </a>
      <!-- <a  class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <a  class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
      </a> -->
    </div>
  </div>
</div>
