<div class="container shadow p-3 mb-5 bg-white rounded">
  <div class="card">
    <div class="card-header">Detalhes do Voluntário</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="list-group">
          <div  class="list-group-item d-flex align-items-start bg-success text-white cabecalhoMyPage">
            <div *ngIf="Voluntary" class="divImg">

              <ik-image style="height: 50% !important; " class="img-fluid imgPrincipal" [src]="Voluntary.urlsImage.urlImgPrincipal"
                [transformation]="transformationImg"></ik-image>

            </div>
            <div class="dadosCabec d-flex flex-column flex-wrap FontResponsive">
              <h1 class="ml-4 FontResponsive">{{ Voluntary.nome }}</h1>
              <h3 class="ml-4 FontResponsive" >{{ Voluntary.dataNascimento | dataIdade }}</h3>
              <div class="dadosHeader2 d-flex ml-4 mb-n4">
                <small class="text-white ml-3 infoCacec">
                   {{ Voluntary.profissao }},
                </small>
                <small class="text-white ml-3 infoCacec">
                  {{ Voluntary.endereco.cidade }} - {{Voluntary.endereco.uf}},
                </small>
                <small class="text-white text infoCacec"> {{ Voluntary.telefone }}
                </small>

              </div>
            </div>
          </div>
          <br />

          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Endereço</h4>
            </div>
            <div class="d-flex flex-wrap">
             <p class="mb-1">  {{ Voluntary.endereco.rua }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.numero }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.complemento }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.bairro }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.cidade }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.uf }}</p>
             <p class="tituloMyPage">,</p><p class="mb-1">{{ Voluntary.endereco.CEP }}</p>

            </div>
          </div>
          <br />
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Igreja</h4>
            </div>
            <p class="mb-1">{{ Voluntary.nomeIg }}</p>
            <div class="d-flex"></div>
          </div>

          <br />
          <div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Pastor</h4>
              </div>
              <p class="mb-1">{{ Voluntary.pastor }}</p>
              <div class="d-flex"></div>
            </div>
          </div>
          <br />

          <div>
            <div  class="list-group-item list-group-item-action d-flex flex-column align-items-start flex-wrap">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Outras Informações</h4>
              </div>
              <p class="mb-1">Atua como: {{ Voluntary.especialidade }}</p>
              <p class="mb-1" style="word-break: break-all;">Email: {{ Voluntary.email }}</p>
              <p class="mb-1">Profissao: {{ Voluntary.profissao }}</p>
              <p class="mb-1">Celular: {{ Voluntary.telefone }}</p>
              <p  *ngIf="Voluntary.telefoneFx" class="mb-1">Telefone Fixo: {{ Voluntary.telefone }}</p>
              <p *ngIf="Voluntary.estadoCivil && Voluntary.estadoCivil != 'undefined'" class="mb-1">Estado Civil: {{ Voluntary.estadoCivil }}</p>
              <p  *ngIf="Voluntary.typeVoluntary.chekbox1Profissao" class="mb-1">Atua Voluntariamente com sua Profissão</p>
              <p  *ngIf="Voluntary.typeVoluntary.chekbox4CasaDescanso" class="mb-1">Atua Voluntariamente disponibilizando casa de descanso </p>
              <p  *ngIf="Voluntary.typeVoluntary.chekbox2Intercessor" class="mb-1">Atua como Intercessor</p>
              <p  *ngIf="Voluntary.typeVoluntary.chekbox3Cuidador" class="mb-1">Atua como Pastor Cuidador</p>
              <p  *ngIf="Voluntary.chekbox5Aconselhamento" class="mb-1">Possui Curso de aconselhamento Bíblico</p>
              <div class="d-flex"></div>
            </div>
          </div>
          <br />

          <div *ngIf="Voluntary.urlsImage.urlImgsCasaDescanso.length > 0" class="carousel" >
            <app-carousel [slides]="slides"></app-carousel>
         </div>
        </div>
        <div class="button mb-5 mt-5 d-flex justify-content-end">
          <button type="submit" class="btn btn-success btn-lg"
            [routerLink]="['/sideBar/formCadVoluntary', Voluntary._id]">
            Atualizar
          </button>
        </div>
        <footer class="blockquote-footer">
          <cite title="Título da fonte">Data de Cadastro:{{ Voluntary.dataCad }}
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
