<body class="overflow-hidden" style="background-color: #666666">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form
          class="login100-form"
          [formGroup]="formulario"
          (ngSubmit)="onSubmit()"
        >
          <div class="brand-wrapper"> 
            <img src="./../../assets/imagemCIM.png" alt="logo" class="logo" />
          </div>
          <span class="login100-form-title mb-4"> Login </span>

          <div class="form-floating mb-3 wrap-input100">
            <input
              type="email"
              class="form-control input100"
              id="email"
              formControlName="email"
            />
            <span class="focus-input100"></span>
            <label for="email">Email </label>
          </div>
          <div class="form-floating wrap-input100">
            <input
              formControlName="password"
              type="password"
              class="form-control input100"
              id="floatingPassword"
            />
            <span class="focus-input100"></span>
            <label for="floatingPassword">Password</label>
          </div>
          <span class="text-danger mt-1">
            {{errorLogin}}
          </span>
          <div class="container-login100-form-btn mt-5">
            <button class="login100-form-btn">Login</button>
          </div>

          <!-- <div class="text-center p-t-46 p-b-20">
            <span class="txt2"> or sign up using </span>
          </div> -->

          <!-- <div class="login100-form-social flex-c-m">
            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </a>

            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </div> -->
        </form>

        <div
          class="login100-more"
          style="
            background-image: url('./../../assets/login.jpg');
          background-position-y:-50px ;
            
          "
        ></div>

        <!-- <div class="imgContainner" style="width: 70%; margin-left: -200px;margin-top: -50px;">
          <img  src="./../../assets/login.jpg" alt="">
        </div> -->

      </div>
    </div>
  </div>
</body>
