.container-fluid {
  padding: none;
  margin: none;
}
.contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgLogin img {
  overflow: hidden;
  max-height: 94vh;
}

.titleAndForm {
  margin: 30px;
}

.formLogin {
  width: 20vw;
}
.labelCel {
  display: none;
}

@media (max-width: 585px) {
  .labelAll {
    display: none;
  }
  .labelCel {
    display: block;
  }
}

@media (max-width: 795px) {
  .labelAll {
    font-size: x-small;
  }
}
