<div class="">
  <div class="contents">
    <div class="titleAndForm">
      <div class="title mb-5 ">
        <img src="./../../../assets/logo.svg" alt="logo" class="logo" />
        <h1 class="login-title">Log in TESTES</h1>
      </div>
      <form class="formLogin" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        
        <div class="form-floating mb-3 campoLogin ">
          <input
          formControlName="nome"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          
          />
          <label for="floatingInput" class="labelCel">Email</label>
          <label for="floatingInput" class="labelAll">Endereço de Email</label>
        </div>
        <div class="form-floating campoLogin">
          <input
          formControlName="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
        
          />
          <label for="floatingPassword">Senha</label>
        </div>

        <button class="btn btn-success btn-lg mt-3 px-5" type="submit">
          Entrar
        </button>
      </form>
    </div>
    <picture class="imgLogin">
      <img
        class="img-fluid"
        src="./../../../assets/LOGIN.rafaela-biazi.jpg"
        alt=""
      />
    </picture>
  </div>
</div>
