<div 
  id="wrapper"
  class=""
  [ngClass]="{ toggled: toggledSideBar == true, ' ': false }"
>
  <!-- Sidebar -->

  <button *ngIf="showMenu"
    type="button"
    role="button"
    class="buttonSideBar"
    (click)="openSideBar($event)"
    [ngClass]="{ open: toggledSideBar == true, close: toggledSideBar == false }"
  ></button>

  <div id="sidebar-wrapper" *ngIf="showMenu">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/Dashboard"> Voluntary </a>
      </li>
      <div class="open-close-container">
        <li>
          <a routerLink="/Dashboard">Dashboard</a>
        </li>

        <li
          class="d-flex justify-content-between li"
          routerLink="/listVolunteers"
          (click)="toggleVolunters()"
        >
          <a>Voluntários</a>
          <div
            style="margin-right: 10px"
            [ngClass]="{
              upArrow: expandableMenuVolunters == true,
              downArrow: expandableMenuVolunters == false
            }"
          ></div>
        </li>
        <li
          *ngIf="expandableMenuVolunters == true"
          [@expandable]="expandableMenuVolunters ? 'closed' : 'open'"
        >
          <a routerLink="/formCadVoluntary">Cadastro </a>
          <a routerLink="/filtros">Filtros</a>
          <a class="disabled">Relatórios</a>
        </li>

        <li
          class="d-flex justify-content-between li"
          routerLink="/listMissionaries"
          (click)="toggleMissionaries()"
        >
          <a>Missionários</a>
          <div
            style="margin-right: 10px"
            class=""
            [ngClass]="{
              upArrow: expandableMenuMissionaries == true,
              downArrow: expandableMenuMissionaries == false
            }"
          ></div>
        </li>
        <li
          *ngIf="expandableMenuMissionaries == true"
          [@expandable]="expandableMenuMissionaries ? 'closed' : 'open'"
        >
          <a routerLink="/formCadMissionaries">Cadastro </a>
          <a class="disabled">Filtros</a>
          <a class="disabled">Relatórios</a>
        </li>

        <li
          class="d-flex justify-content-between li"
          routerLink="/listPartners"
          (click)="togglePartners()"
        >
          <a>Parceiros</a>
          <div
            style="margin-right: 10px"
            class=""
            [ngClass]="{
              upArrow: expandableMenuPartners == true,
              downArrow: expandableMenuPartners == false
            }"
          ></div>
        </li>
        <li
          *ngIf="expandableMenuPartners == true"
          [@expandable]="expandableMenuPartners ? 'closed' : 'open'"
        >
          <a routerLink="/formCadPartners">Cadastro </a>
          <a class="disabled">Filtros</a>
          <a class="disabled">Relatórios</a>
        </li>
        <li
          class="d-flex justify-content-between li"
          routerLink="/listAdminUsers"
          (click)="toggleAdminUsers()"
        >
          <a>Usuários</a>
          <div
            style="margin-right: 10px"
            class=""
            [ngClass]="{
              upArrow: expandableMenuAdminUsers == true,
              downArrow: expandableMenuAdminUsers == false
            }"
          ></div>
        </li>
        <li
          *ngIf="expandableMenuAdminUsers == true"
          [@expandable]="expandableMenuAdminUsers ? 'closed' : 'open'"
        >
          <a routerLink="/formCadAdminUsers">Cadastro </a>
          <a class="disabled">Filtros</a>
          <a class="disabled">Relatórios</a>
        </li>
      </div>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="col-xs-12 ml-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
