.container {
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-control:focus {
  /* border-color: inherit;  */
  -webkit-box-shadow: none;
  box-shadow: none;
}

select:focus,
input:focus,
textarea:focus :not(type='radio') {
  transition: 0.3s;
  border: 0 none;
  border-left: 5px solid green;
  border-radius: 3px;
}

fieldset:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*radios*/

.radio {
  display: flex;
  flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* menu sidebar */

/* Esconde o input */

body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  font-family: 'Poppins', sans-serif;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #F8F9FA;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #343635;
}

.sidebar-nav li a:hover {
  transition: 500ms;
  text-decoration: none;
  color:#59ba95;

  background: #f8f9faec;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #343635;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/)
* Copyright 2013-2016 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE) */

/* MOVIMENTO DE SETA */
.downArrow:after {
  transition: 500ms;

  content: '';
  border-right: 0.1em solid #1b1b1b;
  border-bottom: 0.1em solid #1b1b1b;
  display: inline-block;
  height: 0.8em;
  vertical-align: baseline;
  width: 0.8em;


  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}
.upArrow:after {
 transition: 500ms;
  content: '';
  border-right: 0.1em solid #1b1b1b;
  border-bottom: 0.1em solid #1b1b1b;
  display: inline-block;
  height: 0.8em;
  vertical-align: baseline;
  width: 0.8em;

  -webkit-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg);
}

.disabled {
  color: #dbdbdb !important;
}

/* menu-hamburguer */

.buttonSideBar {
  z-index: 999;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.9em 1em;
}
.open:hover {
  cursor: pointer;
}
.open:after {
  border-right: 0.2em solid #04743c;
  border-bottom: 0.2em solid #04743c;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: bottom;
  width: 1em;

  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close:after {
  border-right: 0.2em solid #04743c;
  border-bottom: 0.2em solid #04743c;
  content: '';
  display: inline-block;
  height: 1em;
  vertical-align: bottom;
  width: 1em;

  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}

.li:focus{
  border: none;
  outline: none;

  
}
