<div class="container shadow p-3 mb-5 bg-white rounded">
  <div class="card">
    <div class="card-header">Detalhes do Voluntário</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="list-group">
          <div
            class="list-group-item d-flex align-items-start bg-success text-white"
          >
            <div *ngIf="Voluntary" class="divImg">
              <ik-image
                [src]="Voluntary.imgUrlPrincipal"
                [transformation]="transformationImg"
                class="img-fluid imgPrincipal"
              ></ik-image>
            </div>
            <div class="dadosCabec d-flex flex-column">
              <h1 class="ml-4">{{ Voluntary.nome }}</h1>
              <h3 class="ml-4">{{ Voluntary.dataNascimento | dataIdade }}</h3>
              <div class="dadosHeader2 d-felx ml-4 mb-n4">
                <small class="text-white text"
                  >Telefone: {{ Voluntary.telefone }},
                </small>
                <small class="text-white ml-3">
                  Endereço: {{ Voluntary.endereco.rua }},
                </small>
                <small class="text-white ml-3">
                  número
                  {{ Voluntary.endereco.numero }},
                </small>
                <small class="text-white ml-3">
                  Cidade
                  {{ Voluntary.endereco.cidade }}
                </small>
              </div>
            </div>
          </div>
          <br />

          <div>
            <div
              href="#"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between"></div>
              <p class="mb-1">{{ Voluntary.nomeIg }}</p>
              <div class="d-felx"></div>
            </div>
          </div>
          <br />
          <div>
            <div
              href="#"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Pastor</h4>
              </div>
              <p class="mb-1">{{ Voluntary.pastor }}</p>
              <div class="d-felx"></div>
            </div>
          </div>
          <br />

          <div>
            <div
              href="#"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Outras Informações</h4>
              </div>
              <p class="mb-1">Atua como: {{ Voluntary.servicoOferecido }}</p>
              <p class="mb-1">Email: {{ Voluntary.email }}</p>
              <div class="d-felx"></div>
            </div>
          </div>
          <br />
        </div>

        <div class="button mb-5 d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-success btn-lg"
            [routerLink]="['/sideBar/formCadVoluntary', Voluntary._id]"
          >
            Atualizar
          </button>
        </div>
        <footer class="blockquote-footer">
          <cite title="Título da fonte"
            >Data de Cadastro: seg, 25 de mai, 2020
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
