.container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.justify-content-start{
    margin-top: -13px;
    margin-left: -21px;
    height: 212px;
    
}
img{
    border-radius:5px 0 0 0;
}
.btn{
    width: 200px;
}
.dadosCabec{
    padding: 40px ;
}