/* CAMPOS DE VALIDAÇÃO DE FORMULÁRIO */

/* CAMPOS DE VALIDAÇÃO DE FORMULÁRIO */

.incorreto {
  transition: 0.5s;
  border: 0 none;
  transition: 0.3s;
  border-left: 5px solid rgb(128, 0, 0);
}

.correto:focus {
  transition: 5s;
  border: 0 none;
  border-bottom: 2px solid green;
  border-radius: 0;
}
#feminino,
#masculino {
  border: 1px solid rgb(197, 197, 197);
}

.text-formInvalid {
  color: #ffffff;
  background-color: #DF4957;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  font-size: smaller;
  text-overflow: ellipsis;
  position: relative;
  display:inline !important;
  margin-bottom: 1px;
}
.text-formValid {
  color: #ffffff;
  background-color: #309365;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  font-size: medium;
  text-overflow: ellipsis;
  position: relative;
}

/* .text-formInvalid {
  color: #dc3545;
  font-size: medium;
  text-overflow: ellipsis;
} */

.form-check-input,
.form-check-label {
  margin-left: 0px;
}

.form-switch label {
  display: flex;
  margin-left: 70px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

input,
select {
  min-width: 215px;
}

[type="radio"] {
  min-width: 20px !important;
  min-height: 20px !important;
  margin-right: 15px;
}
[type="checkbox"] {
  min-width: 40px;
  min-height: 25px;
}

.inputImg {
  position: relative;
  overflow: hidden;

  border: #ced4da 1px solid;
  border-radius: 4px;
  padding: 4px 0 4px 7px;
}

.labelTypeFile{
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom:-15px ;
  color: #198754;
  margin-left: 10px;
  margin-top: 5px;

}






[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
[type="file"]:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

[type="file"]::before {
  content: "Adicione uma foto";
  display: inline-block;
  background-image: url(./../../../../assets/001-upload.svg);
  background-size: 15px;
  background-attachment: local;
  background-position-x: 135px;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 3px;
  padding: 10px 8px;
  padding-right: 40px;
  margin: 3px 0px;
  color: #3b3b3b;
  margin-right: -105px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 480;
  font-size: 10pt;
}

[type="file"]:hover::before {
  border-color: #157347;
  background-size: 10px;
  transition: 0.3s;
  color: #157347;
  font-size: smaller;
  background-position-x: 135px;
}

[type="file"]:hover::before {
  color: #157347;
  background-size: 18px;
  transition: 0.5s;
}

.labelText {
  margin-top: -10px;
  font-size:13px;
  text-overflow: ellipsis !important;
}
.heightInput{
  height: 70px;
  padding-bottom: -10px;

}

label {
  margin-left: 10px;
}

.is-validRadios {
  border: 1px solid green;
}

.is-invalidRadios {
  border: 1px solid red;
}

.forcedResponsiveness
{
  display: flex;
  flex-wrap: wrap;
}
