<div class="container mt-5 mb-5">
  <h1 *ngIf="!idVoluntary">Novo Cadastro</h1>
  <h1 *ngIf="idVoluntary">Editar Cadastro</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <hr>
      <fieldset class="form-group" >
        <h3 class="mb-4">Voluntário</h3>
        <div class="row m-3 mb-4 ">
        
            <div class="col-7 campo" [ngClass]="aplicaCss('nome')">
              <label for="inputName">Nome Completo</label>
              <input type="text"
               id="inputName"
               class="form-control"
               formControlName="nome"
               placeholder="Informe Seu nome completo:"
               >
               <small *ngIf="this.formulario.controls.nome.invalid && this.formulario.controls.nome.touched" class="text-formInvalid">
                 Este campo precisa ter pelo menos 3 caracteres... 
               </small>
              </div>
            <div class=" campo col-2 ml-4 mr-5" [ngClass]="aplicaCss('dataNascimento')">
              <label for="inputLastname">Nascimento</label>
              <input type="date" id="inputLastname" formControlName="dataNascimento" class="form-control" >
              <small *ngIf="this.formulario.controls.dataNascimento.invalid && this.formulario.controls.dataNascimento.touched" class="text-formInvalid">
                insira sua data de Nascimento!
              </small>
            </div>
            <div class=" form-check col-2" [ngClass]="aplicaCss('sexo')">
              <div class=" custom-control custom-radio custom-control">
                <input class="form-check-input" type="radio" formControlName="sexo" name="sexo"  id="masculino" value="M" checked>
                <label class="form-check-label" for="masculino">
                  Masculino
                </label>
              </div>
              <div class="custom-control custom-radio custom-control">
                <input class="form-check-input" type="radio" formControlName="sexo" name="sexo" id="feminino" value="F">
                <label class="form-check-label" for="feminino">
                  Feminino
                </label>
              </div>
              <small *ngIf="this.formulario.controls.sexo.invalid && this.formulario.controls.sexo.touched" class="text-formInvalid">
                Precisamos saber sua orientação sexual! 
              </small>
            </div>

          </div>

          <div class=" row m-3 mb-4">
            <div class="campo  form-group col-4">
                  <label for="inputNumberC">Rua</label>
                  <input type="text" class="form-control" id="inputNumberC" formControlName="logradouroVo" placeholder="Informe o nome da sua rua">
            </div>
            <div class="campo  form-group col-1">
                  <label for="inputNumberC">Número</label>
                  <input type="text" class="form-control" id="inputNumberC" formControlName="numeroVo" placeholder="nº">
            </div>
            <div class="campo  form-group col-md-2">
                  <label for="inputBairro">Bairro</label>
                  <input type="text" class="form-control" formControlName="bairroVo"id="inputBairro" placeholder="Informe seu Bairro:">
            </div>
            <div class="campo  form-group col-md-3">
                  <label for="inputCity">Cidade</label>
                  <input type="text" class="form-control" id="inputCity" formControlName="cidadeVo" placeholder="Informe sua cidade:">
            </div>
            <div class="campo  form-group col-md-2 ">
                  <label for="inputComple">Complemento</label>
                  <input type="text" class="form-control" id="inputComple" formControlName="complementoVo" placeholder="Casa / Apt">
            </div>
          </div>
          <div class=" row m-3 mb-4">
            <div class="campo form-group col-md-3">
               <label for="inputEstado">Estado</label>
               <label  for="inputEstado">Estado</label>
               <select formControlName="ufVo" id="inputEstado" class="form-control">
                <option selected>Escolha Estado...</option>
                 <option value="AC">Acre</option>
                 <option value="AL">Alagoas</option>
                 <option value="AP">Amapá</option>
                 <option value="AM">Amazonas</option>
                 <option value="BA">Bahia</option>
                 <option value="CE">Ceará</option>
                 <option value="DF">Distrito Federal</option>
                 <option value="ES">Espírito Santo</option>
                 <option value="GO">Goiás</option>
                 <option value="MA">Maranhão</option>
                 <option value="MT">Mato Grosso</option>
                 <option value="MS">Mato Grosso do Sul</option>
                 <option value="MG">Minas Gerais</option>
                 <option value="PA">Pará</option>
                 <option value="PB">Paraíba</option>
                 <option value="PR">Paraná</option>
                 <option value="PE">Pernambuco</option>
                 <option value="PI">Piauí</option>
                 <option value="RJ">Rio de Janeiro</option>
                 <option value="RN">Rio Grande do Norte</option>
                 <option value="RS">Rio Grande do Sul</option>
                 <option value="RO">Rondônia</option>
                 <option value="RR">Roraima</option>
                 <option value="SC">Santa Catarina</option>
                 <option value="SP">São Paulo</option>
                 <option value="SE">Sergipe</option>
                 <option value="TO">Tocantins</option>
              </select>
            </div>
                <div class="form-group col-md-2">
                  <label for="inputCEP">CEP</label>
                  <input formControlName="cepVo" type="cep" class="form-control"  formControlName="CEPVo" id="inputCEP" placeholder="Informe seu CEP">
                </div>
                 <div class="form-group col-md-4" [ngClass]="aplicaCss('profissao')">
                  <label for="inputProf">Profissão</label>
                  <input formControlName="profissao" type="text" class="form-control" id="inputProf" placeholder="Informe sua profissão">
                  <small *ngIf="this.formulario.controls.profissao.invalid && this.formulario.controls.profissao.touched" class="text-formInvalid">
                    Não esqueça de colocar sua profissão, isso é importante! 
                  </small>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputTel">Telefone</label>
                  <input formControlName="telefoneVo" type="tel" class="form-control" id="inputTel" placeholder="Informe telefone para Contato">
                </div>
          </div>

          <div class=" row m-3 mb-4 justify-content-center">
            <div class="custom-file col-4">
              <input formControlName="imgUrl" type="file" class="custom-file-input" id="customFile " (change)="getPathImage($event)">
              <label class="custom-file-label" for="customFile">Adicione uma foto</label>
            </div>
        </div>

        </fieldset>
        <hr>
        <fieldset>
          <div class=" row m-3 mb-4">
            <div class="campo col">
              <label for="inputService">Serviço Oferecido</label>
              <input
              formControlName="servicoOferecido"
              type="text" class="form-control "
              id="inputService"
              placeholder="Informe o que deseja fazer, como deseja servir"
              [ngClass]="aplicaCss('servicoOferecido')"
              >
              <small *ngIf="this.formulario.controls.servicoOferecido.invalid && this.formulario.controls.servicoOferecido.touched" class="text-formInvalid">
                Opa! informe qual serviço gostaria de oferecer! 
              </small>
            </div>
            <div class="campo form-group col-md-3" >
              <label for="inputDisponibilidade">Disponibilidade</label>
              <select formControlName="disponibilidade"id="inputDisponibilidade" class="form-control" [ngClass]="aplicaCss('disponibilidade')">
                <option value="segunda">Segunda</option>
                <option value="terca">Terça</option>
                <option value="quarta">Quarta</option>
                <option value="quinta">Quinta</option>
                <option value="sexta">Sexta</option>
                <option value="sabado">Sábado</option>
                <option value="domingo">Domingo</option>
              </select>
              <small *ngIf="this.formulario.controls.disponibilidade.invalid && this.formulario.controls.disponibilidade.touched" class="text-formInvalid">
                Este campo não pode ficar vasio! 
              </small>
            </div>
          </div>
          <div class=" row m-3 mb-4">
            <div class="campo form-group col-md-3">
              <label for="inputFreque">Frequência</label>
              <select formControlName="assiduidade" id="inputFreque" class="form-control">
                <option selected>Defina sua assiduidade</option>
                <option value="umaVezPorSemana">Uma Vez Por Semana</option>
                <option value="terca">Duas Vezes Por semana</option>
                <option value="quarta">Três Vezes Por semana</option>
                <option value="quinta">Quatro Vezes Por semana</option>
                <option value="sexta">A Semana Toda</option>
                <option value="sabado">Todos os dias exeto finais de semana </option>
                <option value="domingo">quando disponível</option>
              </select>
            </div>
            <div class="form-group col-md-3" [ngClass]="aplicaCss('email')">
              <label for="inputEmail">E-mail</label>
              <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Informe seu E-mail">
              <small *ngIf="this.formulario.controls.email.invalid && this.formulario.controls.email.touched" class="text-formInvalid">
                Este campo não pode ficar vazio! Não se esqueça, o email tem que ser válido! 
              </small>
              
            </div>
            <div class="form-group col-md-6">
              <label for="inputTextarea">Outras informações</label>
              <textarea formControlName="outrasInformacoes"class="form-control" id="inputTextarea" rows="2"placeholder="Informe suas intenções, sonhos ou motivos pelo que deseja "></textarea>
            </div>
          </div>
      </fieldset>
      <hr>
      <fieldset>
        <h3 class="mb-4">Igreja</h3>
        <div class=" row m-3 mb-4">
          <div class="campo form-group col-md-3">
            <label for="inputInstituicao">Tipo de instituição</label>
            <select formControlName="instituicao" id="inputInstituicao" class="form-control">
              <option selected>Informe a instiuição</option>
              <option value="associacao">Associação</option>
              <option value="igreja">Igreja</option>
              <option value="Outra">Outra</option>
             </select>
          </div>
          <div class="campo col" [ngClass]="aplicaCss('nomeIg')">
            <label for="inputNameIg">Nome da Igreja</label>
            <input formControlName="nomeIg" type="text" id="inputNameIg" class="form-control " placeholder="Informe o nome da sua instutuição:">
            <small *ngIf="this.formulario.controls.nomeIg.invalid && this.formulario.controls.nomeIg.touched" class="text-formInvalid">
              Precisamos saber qual a sua igreja! 
            </small>
          </div>
          <div class="form-group col-md-3">
            <label for="inputTel">Telefone</label>
            <input formControlName="telefoneIg" type="tel" class="form-control" id="inputTel" placeholder="Informe telefone para Contato">
         
          </div>
          <div class="form-group col-md-2">
            <label for="inputCEP">CEP</label>
            <input formControlName="cepIg"type="cep" class="form-control" id="inputCEP" placeholder="Informe seu CEP">
          </div>
        </div>
        <div class=" row m-3 mb-4">
          <div class="campo  form-group col-md-4">
                <label for="inputCity">Cidade</label>
                <input formControlName="cidadeIg" type="text" class="form-control" id="inputCity" placeholder="Informe sua cidade:">
          </div>
          <div class="campo  form-group col-md-3">
                <label  for="inputBairro">Bairro</label>
                <input formControlName="bairroIg" type="text" class="form-control" id="inputBairro" placeholder="Informe seu Bairro:">
          </div>
          <div class="campo  form-group col-md-1">
                <label  for="inputNumberC">Número</label>
                <input formControlName="numeroIg" type="text" class="form-control" id="inputNumberC" placeholder="nº Resid">
          </div>
          <div class="campo  form-group col-md-2 ">
                <label for="inputComple">Complemento</label>
                <input formControlName="complementoIg" type="text" class="form-control" id="inputComple" placeholder="Casa / Apt">
          </div>
          <div class="campo form-group col-md-2">
            <label for="inputEstado">Estado</label>
           <select formControlName="ufIg" id="inputEstado" class="form-control" >
             <!-- <option *ngFor="let item of estados">{{estados}}</option> -->

           </select>
         </div>
        </div>
      </fieldset>
      <hr>
        <fieldset>
        <h3 class="mb-4">Pastor</h3>
        <div class=" row m-3 mb-4">

          <div class="campo col">
            <label for="inputNameIg">Nome do Pastor</label>
            <input type="text"
            formControlName="pastor"
            id="inputNameIg" class="form-control"
            placeholder="Informe o nome do seu Pastor"
            [ngClass]="aplicaCss('pastor')"
            >
            <small *ngIf="this.formulario.controls.nomeIg.invalid && this.formulario.controls.nomeIg.touched" class="text-formInvalid">
              Não esqueça de informar o nome do seu Pastor! 
            </small>
          </div>
          <div class="form-group col-md-3">
            <label for="inputTel">Telefone</label>
            <input formControlName="telefonePa"type="tel" class="form-control" id="inputTel" placeholder="Informe telefone para Contato">
          </div>
          <div class="form-group col-md-2">
            <label for="inputCEP">CEP</label>
            <input formControlName="cepPa" type="cep" class="form-control" id="inputCEP" placeholder="Informe seu CEP">
          </div>
        </div>
        <div class="  row m-3 mb-4">
          <div class="campo  form-group col-md-4">
                <label for="inputCity">Cidade</label>
                <input formControlName="cidadePa" type="text" class="form-control" id="inputCity" placeholder="Informe sua cidade:">
          </div>
          <div class="campo  form-group col-md-3">
                <label for="inputBairro">Bairro</label>
                <input formControlName="bairroPa" type="text" class="form-control" id="inputBairro" placeholder="Informe seu Bairro:">
          </div>
          <div class="campo  form-group col-md-1">
                <label for="inputNumberC">Número</label>
                <input formControlName="numeroPa" type="text" class="form-control" id="inputNumberC" placeholder="nº Resid">
          </div>
          <div class="campo  form-group col-md-2 ">
                <label  for="inputComple">Complemento</label>
                <input formControlName="complementoPa" type="text" class="form-control" id="inputComple" placeholder="Casa / Apt">
          </div>
          <div class="campo form-group col-md-2">
            <label for="inputEstado">Estado</label>
           <select formControlName="ufPa" id="inputEstado" class="form-control">
             <option selected>Escolha Estado...</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
           </select>
         </div>
        </div>
      </fieldset>
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-success btn-lg pr-5 pl-5" *ngIf="idVoluntary">Salvar dados Alterados</button>
        <button type="submit" class="btn btn-success btn-lg pr-5 pl-5" *ngIf="!idVoluntary">Cadastrar Voluntário</button>
      </div>
      
    </form>
</div>

<code>
 <h5>status do campo email >  {{this.formulario.controls.email.status}} </h5>
 <h5>pristine do campo email>  {{this.formulario.controls.email.pristine}} </h5>
 <h5>touched do campo email>  {{this.formulario.controls.email.touched}} </h5>
 <h5>untouched do campo email>  {{this.formulario.controls.email.untouched}} </h5>
 <h5>errors do campo email>  {{this.formulario.controls.email.errors}} </h5>
 <h5>dirty do campo email>  {{this.formulario.controls.email.dirty}} </h5>

</code>
