<div class="dropdown-item d-flex align-items-center" href="#">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=16"
      style="width: 45px"
    />
  </div>
  <div>
    <div class="text-truncate">Poliana Franco</div>
    <div class="small text-gray-500"></div>
    <span style="font-size: 14px; margin-top: -50px; color: grey"
      >17/01/2021 · 37 Anos</span
    >
  </div>
</div>
<div class="dropdown-item d-flex align-items-center">
  <div class="dropdown-list-image mr-3">
    <img
    class="rounded-circle"
    src="https://i.pravatar.cc/100?img=15"
    style="width: 45px"
    alt=""
    />
  </div>
  <div>
    <div class="text-truncate">Francisco Viera Lino</div>
    <span class="small text-gray-500" style="font-size: 14px; margin-top: -50px; color: grey" >28/01/2021 · 29 Anos</span>
  </div>
</div>
<div class="dropdown-item d-flex align-items-center" href="#">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=14"
      alt=""
      style="width: 45px"
    />
  </div>
  <div>
    <div class="text-truncate">Morgan Alvarez</div>
    <span class="small text-gray-500" style="font-size: 14px; margin-top: -50px; color: grey">03/01/2021 · 59 Anos</span>
  </div>
</div>
<div class="dropdown-item d-flex align-items-center" href="#">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=13"
      style="width: 45px"
      alt=""
    />
  </div>
  <div>
    <div class="text-truncate">José Lucivânio Ferreira</div>
    <span class="small text-gray-500" style="font-size: 14px; margin-top: -50px; color: grey">13/01/2021 · 49 Anos</span>
  </div>
</div>
<div class="dropdown-item d-flex align-items-center" href="#">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=11"
      style="width: 45px"
      alt=""
    />
  </div>
  <div>
    <div class="text-truncate">Lucas Pinheiro Moreira</div>
    <span class="small text-gray-500" style="font-size: 14px; margin-top: -50px; color: grey">19/01/2021 · 19 Anos</span>
  </div>
</div>

<div class="dropdown-item d-flex align-items-center">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=10"
      style="width: 45px"
      alt=""
    />
  </div>
  <div>
    <div class="text-truncate">Juliana Correira Brito</div>
    <span style="font-size: 14px; margin-top: -50px; color: grey" class="small text-gray-500">19/01/2021 · 22 Anos</span>
  </div>
</div>
<div class="dropdown-item d-flex align-items-center">
  <div class="dropdown-list-image mr-3">
    <img
      class="rounded-circle"
      src="https://i.pravatar.cc/100?img=30"
      
      alt=""
    />
  </div>
  <div>
    <div class="text-truncate">Cristina Ferreira fonseca</div>
    <span style="font-size: 14px; margin-top: -50px; color: grey" class="small text-gray-500">19/01/2021 · 22 Anos</span>
  </div>
</div>
<a class="dropdown-item text-center small text-gray-500" href="#"
  >Read More Messages</a
>
