.card{
  margin: 10px;
  background: #fff;
border-radius: 2px;
display: block;
float: left;
overflow: hidden;
margin: 1rem;
position: relative;
width: 150px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.form-inline{
  display: flex;
  justify-content: center;

}
.form-inline input{
width: 90%;
}

.flex-container{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
}


.card:hover
{
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.imgV{
max-width: 110%;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;

}
.card:hover img{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}



